<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Ch07</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 컨트롤러 등록 -->
  <!-- 서블릿클래스를 서블릿으로 등록하는 작업 -->
  <servlet>
  	<servlet-name>MainController</servlet-name>
  	<!--  해당 서블릿을 참조할때 사용할 이름 -->
  	<servlet-class>kr.co.jboard2.controller.MainController</servlet-class>
  	<!-- 서블릿으로 사용할 서블릿 클래스의 완전한 이름을 입력 -->
  </servlet>
  <!--controller.MainControllerㄹ클래스를 MainController라는 이름의 서블릿으로 등록하고 있다.  -->

  <!-- MinaCotroller에 만들어진 서블릿의 경로를 알게 지정해주기 위하여 url맵핑작업이 필요하다 -->
  <servlet-mapping>
  	<servlet-name>MainController</servlet-name>
  	<!-- 서블릿 작업을 해준 서블릿 이름 -->
  	<url-pattern>*.do</url-pattern>
  	<!-- 실제 주소창에 치고 들어올 경로를 설정
  	주소 링크에 .do가 포함되어잇으면 ControlServlet을 찾아가게끔 url을 맵핑 해주는 작업을 한 것이다. -->
  </servlet-mapping>
  
  <!-- 모델2 보안설정 
  설정해두면 모델1로 접근 할 수 없다-->
  <security-constraint>
  	<display-name>Prohibit Model1</display-name>
  	<web-resource-collection>
  		<web-resource-name>secure page</web-resource-name>
  		<url-pattern>*.jsp</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>nobody</role-name>
  	</auth-constraint>
  </security-constraint>
  
  <!-- index를 불러오기 위한 표현
  위에서 막아둔 jsp를 free pages를 해주어서 풀어준다 -->
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>free pages</web-resource-name>
  		<url-pattern>/index.jsp</url-pattern>
  	</web-resource-collection>
  </security-constraint>
  
  <!-- 문자셋 인코딩 필터 등록 -->
  <filter>
  	<filter-name>SetCharacterEncodingFilter</filter-name>
   	<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>SetCharacterEncodingFilter</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>

</web-app>