/* 초기화 */
*{
    margin: 0;
    padding: 0;
    font: normal 12px '돋움체';
}

ul, ol{list-style: none;}
a{text-decoration: none; color: #111;}

/* 전체공통 */
/* 전체 영역이라고 생각하면 된다 */
#wrapper{
    width: 980px;
    height: auto;
    margin: 0 auto;
   
}
/* 헤더영역 */
header{
    position: relative;
     /*아래의 header속성들의 위치를 정리하여 주기위해 사용  */
     width: 100%;
     height: 142px;
     background: url('../img/head_top_line.png')no-repeat;
     /* wrapper와 header의 컨텐츠 영역의 크기를 지정해주어 맞춘다  */
    /* box-sizing은 박스의 크기를 화면에 표시하는 방식을 변경하는 속성입니다. 
    width와 height는 엘리먼트의 컨텐츠의 크기를 지정합니다. 따라서 테두리가 있는 경우에는 테두리의
    두께로 인해서 원하는 크기를 찾기가 어렵습니다. box-sizing 속성을 border-box로 지정하면  
    테두리를 포함한 크기를 지정할 수 있기 때문에 
    예측하기가 더 쉽습니다. 최근엔 모든 엘리먼트에 이 값을 지정하는 경우가 늘고 있습니다. 
    
    */
}
header > .logo{
    /* .logo 이렇게 쓰는 이유는 class값을 설정해 주어서다 */
    position: absolute; /* 문서상에 요소를 배치하는 방법을 지정*/
    left: 50%; /*wrapperd안에서의 50%이다 */
    top: 20px;
    margin-left: -95px;
}
header > p {
    position: absolute;
    right: 0;
    top: 10px;
}

header > img {
    position: absolute;
    right: 0;
    top: 60px;
}

header > .gnb{
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 100%;
    height: 50px;
}
header > .gnb > li {
    /* li 태그는 기본적으로 세로 정렬이 된다 */
    float: left; /*사용하면 깔끔하게 가로 정렬이 완성된다 */
    width: 20%;
    height: 100%;
    background-image: url('../img/head_menu_line.png');
    background-repeat: no-repeat;
}
header > .gnb > li > a{
    position: relative;
    display: block;
     /* a태그 전체가 클릭 영역이 되어야 한다 */
    /* a태그는 크기를 가질 수 없는 태그이다 */
    width: 100%;
    height: 100%;
    font-size:0; /* body안의 글을 남겨두는 것이 좋고 style에서 폰트싸이즈를 줄여버리자 */
    background-repeat: no-repeat;
    background-position-y: 8px;/* x-position y-position : 가로 위치와 세로 위치를 정합니다.*/

}
header > .gnb >li > a > .badge{
    position:absolute;
    left: 116px;
    top: -16px;
}

header > .gnb >li:nth-child(1) > a {background-image: url('../img/head_menu1.png');}
header > .gnb >li:nth-child(2) > a {background-image: url('../img/head_menu2.png');}
header > .gnb >li:nth-child(3) > a {background-image: url('../img/head_menu3.png');}
header > .gnb >li:nth-child(4) > a {background-image: url('../img/head_menu4.png');}
header > .gnb >li:nth-child(5) > a {background-image: url('../img/head_menu5.png');}

/* 마우스를 올려 놓았을 경우 -- hover 한경우 -- 색깔 바뀌게 하기  */
header > .gnb >li:nth-child(1) > a:hover {background-image: url('../img/head_menu1_ov.png');}
header > .gnb >li:nth-child(2) > a:hover {background-image: url('../img/head_menu2_ov.png');}
header > .gnb >li:nth-child(3) > a:hover {background-image: url('../img/head_menu3_ov.png');}
header > .gnb >li:nth-child(4) > a:hover {background-image: url('../img/head_menu4_ov.png');}
header > .gnb >li:nth-child(5) > a:hover {background-image: url('../img/head_menu5_ov.png');}

/* 메인영역 */
main{
    width: 100%;
    height: auto;

}
main > div {
    width: 100%;
    margin-top: 10px;
}
/* 메인-slider */
main > .slider {
    position: relative;
    height: 312px;
}
main > .slider > ul {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /*범위에 넘치는 것들을 숨겨주는 기능 */
    /*애니메이션 화를 시키기 위해서는 1번 그림 옆으로 정렬되어 있어야 한다*/
    /*애니메이션은 jsp를 사용해서 한다 */

}
main > .slider > ul > li {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

}
/* 세로정렬이 아닌 가로 정렬을 해야 옆에서 넘어오는 슬라이드 애니메이션이 가능하기 때문에 아래와 같이 자리를 설정해줌 */
main > .slider > ul > li:nth-child(1) {left: 0;}
main > .slider > ul > li:nth-child(2) {left: 100%;}
main > .slider > ul > li:nth-child(3) {left: 200%;}

main > .slider > img {
    position: absolute;
    left: 40px;
    top: 40px;
}
main > .slider > .banner{
    position: absolute;
    right: 0;
    top: 0;
    width: 230px;
    height: 312px;
    background-image: url('../img/main_banner_bg.jpg');
}
main > .slider > .float_banner {
    position: fixed;
    left: 50%; /*브라우저의 절반 */
    top: 154px;
    margin-left: 500px;
    width: 60px;
    height: 89px;
    background-image: url('../img/float_banner_bg.png');
    text-align: center; /* 글자 가운데 정렬  */
}
main > .slider > .float_banner_b{
    position: fixed;
    left: 50%;
    top: 245px;
    border: 0;
    margin-left: 500px;
    background-image: url('../img/float_banner_txt_bg.png');
}





/* 메인-banner */
main > .banner {height: 74px;}
main > .banner >  a {
    float: left;
    display: block;
    width: 50%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
}
main > .banner > a:nth-child(1) {background-image: url('../img/main_banner_sub1_bg.jpg');}
main > .banner > a:nth-child(2) {background-image: url('../img/main_banner_sub2_bg.jpg');}

/* 메인-latest */
main > .latest {height: 186px;}
main > .latest > article {
    position: relative;
    float: left;
    width: 33.33%;
    height: 100%;
}
main > .latest > article > a {
    position: absolute;
    left: 0;
    top: 16px;
    
}
main > .latest > article > img {
    position: absolute;
    left: 0px;
    bottom: 16px;
    
}
main > .latest > article > table {
    position: absolute;
    right: 12px;
    bottom: 14px;
    color: #6a6a6a;
    
}

main > .latest > article > table td:nth-child(2) {
    /* 2번째 td를 기준으로 해서 항목들의 기준을 맞춘것이다 
    다른 번째 td를 기준으로 해서 맞춰도 된다  */
    display: block;
    font-size: xx-small;
    width: 150px;
    white-space: nowrap;
    /* white-space는 요소안에 공백 처리를 어떻게 할지 지정하는 속성*/
    /* 공백을 여러개 넣어도 1개만 표시, 텍스트가 길어도 줄바꿈 되지 않고 같은 줄에 계속 표시*/
    /* text-overflow: ellipsis; white-.. 과 함께하지 않으면 말줌임 ... 효과가 나타나지 않는다*/
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 18px;
}
/* 메인-info */
main > .info {
    height: 154px;
    overflow: hidden;
    padding: 10px 0;
    border-top: 2px solid #756c65;
    box-sizing: border-box;
}

main > .info > div {
    float: left;
    height: 100%;
}
main > .info > div:nth-child(1) {
    width: 386px;
}
main > .info > div:nth-child(2) {
    width: 230px;
    padding-left: 16px;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    box-sizing: border-box;
}
main > .info > div:nth-child(3) {
    width: 360px;
    padding-left: 10px;
    box-sizing: border-box;
}

main > .info .cs {
    overflow: hidden;
}
main > .info .cs > * {
    float: left;
    margin-right: 16px;
    color: #6a6a6a;
}

main > .info .btns {
    margin-top: 20px;
}

main > .info > div > .tit {
    margin-bottom: 16px;
}

main > .info > div > .account {
    line-height: 18px;
    color: #666;
}



/* 푸터 */
footer{
    width: 100%;
    height: 120px;
    margin-top: 10px;
    border-top: 1px solid #d1cab2;
    box-sizing: border-box;
}
footer > p {
    float: right;
    font: normal 11px '돋움';
    color: #585858;
    margin-right: 26px;
    margin-top: 20px;
    line-height: 18px; /*행간 -- 행의 간격 */
}

 /* 서브페이지 공통 */
 #sub { /*wrapper가 부모*/
    width: 100%;
    height: auto;
  
}

#sub > div {
    width: 100%;
    height: 182px;
    background-image: url('../img/sub_top_bg.jpg');

}
#sub > div > img {
    margin-top: 140px;
}

#sub > section {
    /* artilce 높이에 의존한다 */
    /* section이 늘어남에 따라 artilce 높이가 길어진다*/
    position: relative;
    width: 100%;
    height: auto;

}

#sub > section > aside {
    /* section(부모)의 크기에 의존한다 근데 부모높이에 따라가지 않는다
    관계설정이 되어잇지 않기 때문*/
    position: absolute;
    left: 0;
    top: 0;
    width: 176px;
    height: 100%;
    background-image: url('../img/sub_aside_bg_line.png');
    background-repeat: no-repeat;
    background-position-x: right;
}

#sub > section > aside > img {
    margin: 16px 0 10px 10px ;
    /* 시계 방향으로 값이 주어진다 */
}
#sub > section > aside > ul {
   
    width: 170px;
    height: 233px;
    background-image: url('../img/sub_aside_bg_lnb.png');
    padding-top: 30px;
    box-sizing: border-box;
}
#sub > section > aside > ul > li {
    width: 100%;
    height: 29px;

    /* 위에서 wi,he 설정한 값이 padding top이 들어감으로서 설정 값이 틀려지는 
    이 때 box-sizing 을넣어줌으로서 내가 의도한 값으로 나오게 한다 */
    /* 넓이랑 높이 넣은 뒤 다른 수치값을 설정했을때 box-sizing 값을 넣어주자 !! */
    margin-bottom: 6px;
   

}
#sub > section > aside > ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    
}

#sub.cate1 > section > aside > ul > li:nth-child(1) > a {background-image: url('../img/sub_cate1_lnb1.png');}
#sub.cate1 > section > aside > ul > li:nth-child(2) > a {background-image: url('../img/sub_cate1_lnb2.png');}
#sub.cate1 > section > aside > ul > li:nth-child(1) > a:hover {background-image: url('../img/sub_cate1_lnb1_ov.png');}
#sub.cate1 > section > aside > ul > li:nth-child(2) > a:hover {background-image: url('../img/sub_cate1_lnb2_ov.png');}
#sub.cate1 > section > aside > ul > li:nth-child(1).on > a {background-image: url('../img/sub_cate1_lnb1_ov.png');}
#sub.cate1 > section > aside > ul > li:nth-child(2).on > a {background-image: url('../img/sub_cate1_lnb2_ov.png');}

#sub.cate2 > section > aside > ul > li:nth-child(1) > a {background-image: url('../img/sub_cate2_lnb1.png');}
#sub.cate2 > section > aside > ul > li:nth-child(1) > a:hover {background-image: url('../img/sub_cate2_lnb1_ov.png');}
#sub.cate2 > section > aside > ul > li:nth-child(1).on > a {background-image: url('../img/sub_cate2_lnb1_ov.png');}

#sub.cate3 > section > aside > ul > li:nth-child(1) > a {background-image: url('../img/sub_cate3_lnb1.png');}
#sub.cate3 > section > aside > ul > li:nth-child(2) > a {background-image: url('../img/sub_cate3_lnb2.png');}
#sub.cate3 > section > aside > ul > li:nth-child(3) > a {background-image: url('../img/sub_cate3_lnb3.png');}
#sub.cate3 > section > aside > ul > li:nth-child(1) > a:hover {background-image: url('../img/sub_cate3_lnb1_ov.png');}
#sub.cate3 > section > aside > ul > li:nth-child(2) > a:hover {background-image: url('../img/sub_cate3_lnb2_ov.png');}
#sub.cate3 > section > aside > ul > li:nth-child(3) > a:hover {background-image: url('../img/sub_cate3_lnb3_ov.png');}
#sub.cate3 > section > aside > ul > li:nth-child(1).on > a {background-image: url('../img/sub_cate3_lnb1_ov.png');}
#sub.cate3 > section > aside > ul > li:nth-child(2).on > a {background-image: url('../img/sub_cate3_lnb2_ov.png');}
#sub.cate3 > section > aside > ul > li:nth-child(3).on > a {background-image: url('../img/sub_cate3_lnb3_ov.png');}

#sub.cate4 > section > aside > ul > li:nth-child(1) > a {background-image: url('../img/sub_cate4_lnb1.png');}
#sub.cate4 > section > aside > ul > li:nth-child(1) > a:hover {background-image: url('../img/sub_cate4_lnb1_ov.png');}
#sub.cate4 > section > aside > ul > li:nth-child(1).on > a {background-image: url('../img/sub_cate4_lnb1_ov.png');}

#sub.cate5 > section > aside > ul > li:nth-child(1) > a {background-image: url('../img/sub_cate5_lnb1.png');}
#sub.cate5 > section > aside > ul > li:nth-child(2) > a {background-image: url('../img/sub_cate5_lnb2.png');}
#sub.cate5 > section > aside > ul > li:nth-child(3) > a {background-image: url('../img/sub_cate5_lnb3.png');}
#sub.cate5 > section > aside > ul > li:nth-child(4) > a {background-image: url('../img/sub_cate5_lnb4.png');}
#sub.cate5 > section > aside > ul > li:nth-child(5) > a {background-image: url('../img/sub_cate5_lnb5.png');}
#sub.cate5 > section > aside > ul > li:nth-child(1) > a:hover {background-image: url('../img/sub_cate5_lnb1_ov.png');}
#sub.cate5 > section > aside > ul > li:nth-child(2) > a:hover {background-image: url('../img/sub_cate5_lnb2_ov.png');}
#sub.cate5 > section > aside > ul > li:nth-child(3) > a:hover {background-image: url('../img/sub_cate5_lnb3_ov.png');}
#sub.cate5 > section > aside > ul > li:nth-child(4) > a:hover {background-image: url('../img/sub_cate5_lnb4_ov.png');}
#sub.cate5 > section > aside > ul > li:nth-child(5) > a:hover {background-image: url('../img/sub_cate5_lnb5_ov.png');}
#sub.cate5 > section > aside > ul > li:nth-child(1).on > a {background-image: url('../img/sub_cate5_lnb1_ov.png');}
#sub.cate5 > section > aside > ul > li:nth-child(2).on > a {background-image: url('../img/sub_cate5_lnb2_ov.png');}
#sub.cate5 > section > aside > ul > li:nth-child(3).on > a {background-image: url('../img/sub_cate5_lnb3_ov.png');}
#sub.cate5 > section > aside > ul > li:nth-child(4).on > a {background-image: url('../img/sub_cate5_lnb4_ov.png');}
#sub.cate5 > section > aside > ul > li:nth-child(5).on > a {background-image: url('../img/sub_cate5_lnb5_ov.png');}


#sub > section > article {
   
    width: 800px;
    min-height: 600px;
    /* min-height 최소 높이  */
    margin-left: 176px;
    /* margin을 주어서 aside공간과 겹쳐져 있던 article을 
        section = aside + artilce 공간이 되게 만들자 */
    padding-left: 46px;
   
    box-sizing: border-box;
    
}

#sub > section > article > nav {
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 26px;
    border-bottom: 1px solid #c2c2c2;
    box-sizing: border-box;
}
#sub > section > article > nav > img {
    position: absolute;
    left: 0;
    bottom: 6px;

}
#sub > section > article > nav > p {
    position: absolute;
    right: 0;
    bottom: 6px;
    color: #8c8c8c;
}
#sub > section > article > nav > p > strong {
    font-weight: bold;
    color: #adba15;
}

#sub > section > article > div {
   background-image: url(../img/sub_page1_article_bg.jpg);
   width: 100%;
   height: auto;
   background-repeat: no-repeat;
}

#sub > section > article > div > img {
   margin-top: 25px;
}

#sub > section > article > img {
    position: absolute;
    right: 8px;
    bottom: 135px;
 }

 #sub > section > article > ul {
        position: absolute;
        bottom: 115px;

 }

 #sub > section > article > ul > p {
     line-height: 17px;
     padding-bottom: 15px;
     color: #8c8c8c;
     font-size: 11px;
     font-family: dotum;
 }

 #sub > section > article > ul > p > strong {
    font-weight: bold;
    color: #adba15;
}

#sub > section > article > table {
    margin-top: 100px;
   
}

/* 회원-로그인 */
#user {}
#user.login {
    width: 360px;
    height: auto;
    margin: 100px auto;            
}
#user.login > form {
    position: relative;
    padding: 20px 20px 20px 50px;
    border: 1px solid #cfded8;
    background: #fff;
    border-bottom: 0;
}

#user.login > form > table img {
    width: 20px;
}
#user.login > form > table input {
    width: 162px;
    height: 22px;
    margin: 0 0 5px 0;
    border: 1px solid #e4eaec;
    background: #f7f7f7;
    color: #111;            
}
#user.login > form > input[type=submit] {
    position: absolute;
    right: 52px;
    top: 22px;
    width: 60px;
    height: 55px;
    padding: 8px;
    border: 1px solid #bebebe;
    background: #fdfdfd;
    color: #111;
}

#user.login > .info {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #cfded8;
    background: #f5f6fa;
    overflow: hidden;
}

#user.login > .info > p {
    padding: 10px 0;
}
#user.login > .info > a {
    float: right;
}

/* 회원-약관 */
#user.terms {
    width: 600px;
    margin: 60px auto;            
}
#user.terms > table {
    width: 100%;
    border-top: 2px solid #111;
    border-collapse: collapse;
    border-spacing: 0;
}
#user.terms > table > caption {
    text-align: left;
    font-weight: bold;
    padding: 10px 0;
}
#user.terms > table tr {}
#user.terms > table tr > td {
    padding: 6px 10px;
    border: 1px solid #e9e9e9;
}

#user.terms > table textarea {
    width: 100%;
    height: 200px;
    resize: none;
    border: 1px solid #e4eaec;
    background: #f7f7f7;
    color: #111;
    padding: 2px;
}
#user.terms > table p {
    float: right;
}
#user.terms > table p > input {}

#user.terms > div {
    padding: 20px 0;
    text-align: right;
}
#user.terms > div > a {
    padding: 8px;
    border: 1px solid #bebebe;
    color: #111;
}
#user.terms > div > a:nth-child(1) {background: #fdfdfd;}
#user.terms > div > a:nth-child(2) {background: #e9e9e9;}

/* 회원-회원가입 */
#user.register {
    width: 600px;
    height: auto;
    margin: 60px auto;            
}
#user.register > form {}
#user.register table {
    width: 100%;
    border-top: 2px solid #111;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 10px;
}
#user.register table caption {
    padding: 10px 0;
    font-weight: bold;
    text-align: left;
}
#user.register table tr {}
#user.register table td {
    padding: 6px 12px;
    border: 1px solid #e9e9e9;
}

#user.register table td:nth-child(1) {
    width: 80px;
    background: #f5f8f9;
}

#user.register table input {
    width: 160px;
    height: 22px;
    background: #f7f7f7;
    border: 1px solid #e4eaec;
    text-indent: 6px;
}
#user.register table span {}

#user.register table div {
    margin-bottom: 2px;
}
#user.register table div:nth-child(1) > input {width:  80px;}
#user.register table div:nth-child(2) > input {width: 320px;}
#user.register table div:nth-child(3) > input {width: 320px;}

#user.register table div > button {
    padding: 4px 13px;
    border: 1px solid #bebebe;
    background: #e9e9e9;
    color: #111;
}

#user.register > form > div {            
    text-align: right;
}
#user.register > form > div > .btnCancel {
    padding: 8px;
    border: 1px solid #bebebe;
    background: #fdfdfd;
    color: #111;
}
#user.register > form > div > .btnJoin {
    padding: 7px;
    border: 1px solid #bebebe;
    background: #e9e9e9;
    color: #111;
}

/* 게시판 - 공통 */
#board {
    width: 720px;
    margin: 60px auto;            
}

#board table {
    width: 100%;
    border-top: 2px solid #111;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 6px;
}

#board table th {
    padding: 12px;
    border-top: 1px solid #d1dee2;
    border-bottom: 1px solid #d1dee2;
    background: #e5ecef;
    color: #383838;
}

#board table td {
    padding: 12px 6px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
#board table td:nth-child(1) {
    width: 100px;
    background: #f5f8f9;
    text-align: center;
}

#board table input {
    width: 100%;
    height: 24px;
    border: 0;    
}
#board table textarea {
    width: 100%;
    height: 280px;
    resize: none;    
    border: 0;
}

#board .btnWrite  { padding: 7px; border: 1px solid #3b3c3f; background: #4b545e; color: #fff;}
#board .btnCancel { padding: 8px; border: 1px solid #bebebe; background: #fdfdfd; color: #111;}
#board .btnDelete { padding: 8px; border: 1px solid #bebebe; background: #fdfdfd; color: #111;}
#board .btnModify { padding: 8px; border: 1px solid #bebebe; background: #fdfdfd; color: #111;}
#board .btnList   { padding: 8px; border: 1px solid #bebebe; background: #fdfdfd; color: #111;}

/* 게시판 - 글목록 */
#board.list {
    position: relative;
}
#board.list > h3 {}
#board.list > article {}
#board.list > article > p {
    position: absolute;
    right: 0;
    top: 0;
}

#board.list > article > table tr > td:nth-child(1) {width:  50px; text-align: center; background: #fff;}
#board.list > article > table tr > td:nth-child(2) {width:  auto; text-align: left;}
#board.list > article > table tr > td:nth-child(3) {width: 100px; text-align: center;}
#board.list > article > table tr > td:nth-child(4) {width: 100px; text-align: center;}
#board.list > article > table tr > td:nth-child(5) {width:  50px; text-align: center;}

#board.list > .paging {
    padding: 20px;
    text-align: center;            
}
#board.list > .paging > a {
    padding: 8px;
    background: #f2f2f2;
    border: 1px solid #d7d7d7;            
}

#board.list > .paging > .current {
    border: 1px solid #6d6d6d;
    background: #888;
    color: #fff;
}

#board.list > .btnWrite {
    position: absolute;
    bottom: 14px;
    right: 0;
}
/* 게시판-글보기 */
#board.view > div {
    padding: 16px 0;
    text-align: right;
}

#board.view > section {
    padding: 20px;
    border: 1px solid #e3e3e3;
    background: #f9f9f9;
    margin-bottom: 16px;
}
#board.view > section > h3 {
    font-weight: bold;
}

#board.view > .commentList > article {
    border-top: 1px dotted #999;
    margin-top: 10px;
    padding-top: 10px;
}

#board.view > .commentList > article > textarea {
    width: 100%;
    height: 60px;
    padding: 6px;
    box-sizing: border-box;
    resize: none;
    border: 0;
    background: transparent;
}
#board.view > .commentList > article > div {
    text-align: right;
}

#board.view > .commentList > .empty {
    padding: 20px 0;
    text-align: center;
}

#board.view > .commentForm > form > textarea {
    width: 100%;
    height: 60px;
    border: 1px solid #e4eaec;
    margin: 10px 0;
    resize: none;
}
#board.view > .commentForm > form > div {
    text-align: right;
}

/* 게시판-글쓰기 */
#board.write {}
#board.write form > div {
    margin-top: 10px;
    text-align: right;
}

/* 게시판-글수정 */
#board.modify form > div {
    margin-top: 10px;
    text-align: right;
}
